body {
    font-family: 'Montserrat', sans-serif;
    min-width: 1200px;

}

/*header */

.wrapper {
    color: #fff;
    position: relative;
    height: 1012px;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25)), url("../img/Sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.wrapper .bgNavBar {
    width: 100%;
    position: absolute;
    height: 120px;
    background: rgba(55, 55, 55, .5);
}

.wrapper .bgNavBar .content {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.logo_bar {
    display: flex;
}

.logo {
    width: 60px;
    height: 27px;
    background: #18cfab;
    position: relative;
    font-weight: 700;
}

.logo:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid #18cfab;
}

.logo:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #18cfab;
}

.hText {
    text-align: center;
    font-size: 40px;
    line-height: 27px;
}

.text_logo {
    padding-left: 7px;
    margin: 0;
    font-size: 25px;
    line-height: 29px;
    font-weight: 400;
}

span {
    color: #18cfab;
}
.wrapper .spanLogo {
    font-weight: 700;
}

.navBar {
    color: #b8b8b8;
    align-items: center;
    display: flex;
}

.menu-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 644px;
    margin: 0;
    padding: 0;

}

.menu-main li {
    list-style: none;

}

.menu-main li a {
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 9px;
    padding-bottom: 52px;
    font-size: 13px;
    font-weight: 700;
}

.menu-main li a:hover {
    color: #18cfab;
    border-bottom: 1px #18cfab solid;
}

.search a {
    width: 60px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #1a1d20;*/
    text-decoration: none;
    color: #b8b8b8;
    padding-top: 9px;
    padding-bottom: 52px;

}

.sec1 {
    max-width: 1160px;
    padding-top: 350px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 40px;

}

.sec1 .creative h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 70px;

}

.headerText {
    margin-top: 30px;
    margin-bottom: 140px;
    color: #b8b8b8;
    font-size: 30px;
    font-weight: 300;

}

.button_header {
    display: flex;
    justify-content: center;

}

.button {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    width: 166px;
    height: 61px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px -5px 0px 0px #fff;
    font-size: 13px;
}

.subscribe {
    margin-right: 20px;
    background: #18cfab;
}

.articles {
    background: #00cbf6;
}

/*Box*/
.box {
    min-width: 1200px;
}

.wrapperBox {
    display: flex;
    margin: 0 auto;

}

.wrapperBox .blocks {
    width: 25%;
    height: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #18cfab;
    color: #FFFFFF;

    text-transform: uppercase;
    font-size: 20px;
}

.wrapperBox .fa-hand-point-up, .fa-gem, .fa-lightbulb, .fa-laptop {
    font-size: 60px;
}

.wrapperBox div:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px #18cfab solid;
    color: #18cfab;
}

.wrapperBox div:nth-child(even) {
    border-top: 7px #fff solid;
}

/*Out services*/

.wrapperServices {
    height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapperServices h2 {
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    font-weight: 400;
}

hr {
    width: 76px;
    border: none;
    height: 2px;
    color: #18cfab;
    background-color: #18cfab;
    box-shadow: 10px 5px #18cfab;
    border-radius: 2px;

}

.tabs-buttons-wrapper {
    margin: 0 auto;
    max-width: 1160px;
    padding-top: 65px;
}

.tabs-buttons-wrapper .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #959697;
    padding: 0;
    margin: 0;


}

.tabs .tabs-title {
    width: 193px;
    height: 73px;
    border: 1px #eeeeef solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;

}

ul.tabs li:last-child {
    border-right: 1px #eeeeef solid;
}


.tabs li {
    list-style: none;
    cursor: pointer;

}

.tabs-title {
    background-color: #f8fcfe;
}

.tabs-title.active {
    position: relative;
    background: #18cfab;
    color: #FFFFFF;
    border-color: transparent;


}

.tabs-title.active:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

.tabs-title.active:after {
    border-top-color: #18cfab;
    border-width: 10px;
    margin-left: -10px;
}

ul.tabs-content li {
    list-style: none;
    padding: 0;
}

.text-block {
    display: none;
    text-align: justify;
}

ul.tabs-content {
    padding: 0;
    margin: 0;
}

.active-js { /*fff*/
    display: block;
}


img.img-block {
    float: left;
    margin-right: 20px;
}

.text-block p {
    line-height: 1.5;
}

.box-our-amazing-work-wrapper {
    min-height: 1212px;
    background-color: #f8fcfe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-our-amazing-work-wrapper h2 {
    margin-top: 92px;
}

ul.tabs-second li {
    list-style: none;
}

.tabs-second {
    margin-top: 60px;
    display: flex;
}

.tabs-second .tabs-title-second {
    width: 193px;
    height: 73px;
    background-color: #FFFFFF;
}

.tabs-title-second {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848484;
    cursor: pointer;
    border: 1px #eeeeef solid;
}

ul.tabs-second li {
    border-left: none;
}

ul.tabs-second li:first-child {
    border-left: 1px #eeeeef solid;
    width: 97px;
}

.tabs-title-second.active-second {
    color: #18cfab;
    border-top: #18cfab 2px solid;

}


/*section Just BY*/

.wrapperJustBy {
    height: 476px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/Sections background/section-2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
}

.wrapperJustBy .contentJustBy {
    max-width: 1160px;
    margin: 0 auto;;
    text-align: center;

}

.wrapperJustBy .contentJustBy .textTitle {
    padding-top: 128px;
    color: #18cfab;
    font-size: 40px;
    margin-bottom: 35px;
}

.wrapperJustBy .contentJustBy .textJustBy {
    margin: 0;
    font-weight: 400;
    color: rgba(216, 216, 216, 255);
    padding-bottom: 76px;
}

/*section our amazing work*/

.box-our-amazing-work-wrapper {
    min-height: 1212px;
    background: #f8fcfe;
}

.box-our-amazing-work-wrapper h2 {
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
    font-weight: 400;
}

.tabs-second-buttons-wrapper {
    padding-bottom: 60px;

}

.grid-container {
    min-width: 1134px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-content: center;
    justify-content: center;
    perspective: 1000px;


}


.grid-item {
    display: grid;
    align-items: center;
    justify-items: center;


}

.grid-item span i {
    border-radius: 50%;
    padding: 10px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}

.grid-item span i {
    background: #18cfab;

}

.box-our-amazing-work-wrapper .grid-container .grid-item span {
    font-size: 24px;
    text-transform: uppercase;
    color: #18cfab;
}

.box-our-amazing-work-wrapper .grid-container .grid-item> span:nth-child(2) ~ span {
    font-size: 20px;
    color: #818181;
}

.service-search {
    display: none;
}


.grid-item.active {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 284px;
    height: 206px;
    background-color: #FFFFFF;


}

.service-search.active {
    display: grid;
}


.service-search {
    position: relative;
    overflow: hidden;
    transform: rotateY(-180deg);
}


.service-search div {

    bottom: -206px;
    position: absolute;
    margin: 0;
    display: block;
    width: 100%;

}

.service-search:hover div {
    background: #fff;
    top: 0;
    border-top: 1px solid #18cfab;
    transform: rotateY(180deg);
    transition: 600ms;
}

.loadMore {
    margin-top: 65px;
    background: #18cfab;
}

.loadMore::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f067';
    padding-right: 10px;
}

.active {
    display: none;
}

/*section News*/

.wrapperNews {
    height: 960px;
    margin-bottom: 20px;

}

.wrapperNews .contentNews {

    max-width: 1160px;
    margin: 0 auto;;
    text-align: center;
    height: 100%;
}

 .titleNews {
    color: rgba(78, 78, 78, 255);
    font-size: 36px;
    font-weight: 400;
    margin: 0 ;
     text-align: center;
    padding-top: 84px;
    padding-bottom: 30px;
}

.boxImg {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 650px;
    align-content: space-between;
    padding-top: 60px;
}

.boxImg .imgNews {
    background: #f8fcfe;
    position: relative;
    cursor: pointer;
}

.boxImg .imgNews .boxDate {
    position: absolute;
    left: 195px;
    box-sizing: border-box;
    width: 68px;
    height: 66px;
    background: #203e38;
}

.boxImg .imgNews:hover .boxDate {
    background: #18cfab;
    transition: 1000ms;
}

.boxImg .imgNews .boxDate .numberNews {
    margin: 0;
    padding-top: 12px;
}

.boxImg .imgNews .boxDate .monthNews {
    margin: 0;
    padding-top: 5px;
}

.postText {
    text-align: left;
    padding-top: 14px;
    padding-left: 13px;
    height: 71px;
}

.spanNews {
    color: rgba(113, 113, 113, 255);
    font-weight: 700;
    font-size: 18px;
}

.boxImg .imgNews:hover .spanNews {
    color: rgba(24, 207, 171, 255);
    transition: 1000ms;
}

.commentNews span {

    font-size: 14px;
    font-weight: 300;
    color: rgba(119, 119, 119, 255);
}

.userComment::before {
    content: "|";
    margin-left: 23px;
    margin-right: 23px;
}



/*slider css*/

.wrapperSlider {
    height: 870px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../img/Sections background/section-3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

.wrapper-slider-content {
    max-width: 1160px;
    margin: 0 auto;;

}
.slick-slide {
    outline: 0; !important;
}
.wrapper-slider-content h4 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
}

.fa-quote-left {
    color: #18cfab;
    font-size: 50px;
}

.wrapper-header-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-header-slider hr {
    margin-bottom: 70px;
}

.wrapper-header-slider .fa-quote-left {
    margin-bottom: 43px;
}

.wrapper-slider-content .what-says {
    color: rgba(187, 187, 187, 255);
}

.sliderDesigner {

    color: rgba(187, 187, 187, 255);


}

.wrapperSlider .wrapper-slider-content .sliderDesigner .str {
    margin: 0;
    padding-bottom: 43px;
}

.wrapperSlider .wrapper-slider-content .sliderDesigner span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.wrapperSlider .wrapper-slider-content .sliderDesigner .uxDesigner {
    margin: 0;
    padding-bottom: 37px;
    padding-top: 20px;
}

.wrapperSlider .slider {
    margin: 0 auto;
    cursor: pointer;
}

.wrapperSlider .slick-prev:hover {
    background: #18cfab;
}

.wrapperSlider .slick-next:hover {
    background: #18cfab;
}

.wrapperSlider .slick-prev:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: "\f053";
    color: #bbbbbb;

}

.wrapperSlider .slick-next:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: "\f054";
    color: #bbbbbb;
}

.wrapperSlider .slick-prev {
    border: 1px solid #bbbbbb;

}

.wrapperSlider .slick-next {
    border: 1px solid #bbbbbb;
}

.wrapperSlider .slick-center {
    margin-top: -10px;
    border-radius: 50%;

}

.slick-center .item img {
    border: 2px solid #18cfab;
    border-radius: 50%;
}


.wrapperSlider .center .draggable {
    display: flex;
    height: 160px;
    align-items: center;

}

.wrapperSlider .slider-for .draggable {
    display: flex;
    height: 340px;


}

.wrapperSlider .slider-for img[src] {
    border: 3px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(17, 76, 75, 0.5);

}

.wrapperSlider .center img[src] {

    box-shadow: 0 0 0 6px rgba(17, 76, 75, 0.5);

}


.wrapperSlider .container-slider {
    width: 400px;

}

.wrapperSlider .slider.slider.center {
    width: 400px;


}

.wrapperSlider .slider-for {

    width: 1160px
}

/*mansory*/

.wrapperMasonry {
    min-width: 1200px;


}

.gridMasonry {
    margin: 0 auto;
    max-width: 1160px;
    padding-top: 70px;
}

.gridMasonry .itemMasonry {
    margin-top: 18px;

}
.itemMasonry {
    float: left;
}

.boxMsr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 370px;
    height: 465px;
    padding: 0;
    margin: 0;
}
.small {
    height: 260px;
    width: 370px;
}
.big {
    height: 380px;
    width: 370px;
}
.wrapperMasonry .loadMore {
    margin-bottom: 80px;

}
.btnMasonry {
    display: flex;
    justify-content: center;
}
footer {
    font-size: 14px;
    font-weight: 300;
    color: #aeaeae;
    min-width: 1200px;
    min-height:110px;
    background: #22353f;
    display: flex;
    align-items: center;
    justify-content: center;
}
