.wrapper {
    font-family: Verdana, sans-serif;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    color: white;
}
.header {
    float: left;
    margin-bottom: 47px;
}
.logo{
    text-decoration: none;
    padding-top: 49px;
    margin-left: 155px;
    float: left;
}
span .milan{
    font-size: 28px;
}
.milan {
    font-size: 29px;
}
.header span:hover {
    color: #f26522;
}
.span {
    font-size: 18px;
    padding-left: 13px;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 667px;
}

.contact {
    padding-top:49px;
    text-align: right;
    float: right;

}
.content {
    display: inline-block;
    margin-left: 151px;
    margin-right: 151px;
}
.content p {

    margin: 0;
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 18px;
}
.content.image_box.photo p {
    display: inline-block;
    padding-left: 175px;
    padding-top: 35px;
    font-size: 14px;
}
span.price{
    display: inline-block;
    padding-left: 130px;
    padding-top: 18px;
    font-size: 14px;

}
.from {
    position: absolute;
    font-size:10px;
}
span.price::after  {
    content: ">";
}
.text:hover{
    color:#f26522;
}
.image_box,.image_box_bottom,.image_box_right,.image_box_bottom_right {
    float: left;
}
.image_box,.image_box_bottom {
     padding-right: 69px;

 }
#img {

    display: inline-block;
    width:46px;
    height:44px;
    background-repeat: no-repeat;
    background-image: url("../img/logo.png");
}
#img:hover {
    background-image: url("../img/logo1.png");
}

.image_box_bottom,.image_box_bottom_right{

    padding-top: 58px;
}

.footer p {
    text-align: center;
    margin: 0 auto;
    color: #988f89;
    font-size: 12px;
    padding-top: 40px;

}
 a {
     text-decoration: none;
     color: #fff;
 }
.image_box {
    position: relative;
}

.img__description {
    position: absolute;
    top: 130px;
    bottom: 43px;
    left: 0;
    right: 68px;
    background:#f26522;
    color: #fff;
    visibility: hidden;
    opacity: 0;
}
.image_box:hover .img__description {
    visibility: visible;
    opacity: 1;
}



