.body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 1280px;
}

.mainmenu {
    background: #fff;
    height: 81px;
    margin: auto;
}

.mainmenu ul {
    float: left;
    font-size: 18px;
    list-style: none;
    left: 50%;
    margin: 27px;
    padding: 0;
    position: relative;

}

.mainmenu ul li {
    float: left;
    left: -50%;
    margin: 0 12px;
    position: relative;

}

.mainmenu ul li a {
    color: #16a085;
    display: block;
    line-height: 27px;
    letter-spacing: 2.7px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;

}

.special {
    background: url(../img/first-bg.jpg) no-repeat center top;
height: 790px;
}

.conteiner {
    background: #f5f6f7;
    height: 650px;
    margin-top: 78px;
    text-align: center;

}

h1  {
    font-size: 36px;
}

p  {
    font-size: 18px;
    line-height: 1.8;
    margin-left: 110px;
    margin-right: 110px;

}

a.button {
    border: none;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
    color: white;

   }

.box {
    background-color: #16a085;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    width: 192px;
    height: 51px;

}

.footer {
    background: white;
    float: right;
    display: block;
    margin: 63px 104px 43px ;
    color: #373737;
    font-size: 16px;
    letter-spacing: 3px;

}