body {
    background: url(../img/rana-sawalha-364253-unsplash.png) no-repeat;
    background-size: 100%;
    height: 912px;
    font-family: Arial, sans-serif;
}


.wrapper .header {
    background-color: rgba(0, 0, 0, .5);
    height: 58px;
    width: 100%;
    position: relative;
    color: #fff;
}

.log {
    position: absolute;
    display: inline-block;
    top: 17px;
    left: 78%;
}

a {
    color: #fff;
    text-decoration: none;
    top: 17px;
    left: 80%

}

.welcome::after {
    content: ",";
}

span:hover {
    color: #3cb878;
}

p.about, p.welcome {
    margin: 0 auto;
    display: inline-block;

}

.header h1 {
    position: absolute;
    margin: 0 auto;
    top: 15px;
    left: 60px;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.header h1:hover {
    color: #3cb878;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}


.sprite-ic_calendar_3X {
    position: absolute;
    top: 17px;
    left: 65%;
    width: 19px;
    height: 19px;
    background: url(../img/spritesheet.png) -34px -5px;
}

.sprite-ic_calendar_3X:hover {
    background: url(../img/spritesheet.png) -5px -5px;

}

.sprite-ic_forum_3X {
    position: absolute;
    top: 17px;
    left: 68%;
    width: 28px;
    height: 20px;
    background: url(../img/spritesheet.png) -43px -34px;
}

.sprite-ic_forum_3X:hover {
    background: url(../img/spritesheet.png) -5px -34px;
}


.sprite-ic_journey_3X {
    position: absolute;
    top: 17px;
    left: 72%;
    width: 20px;
    height: 20px;
    background: url(../img/spritesheet.png) -81px -35px;
}

.sprite-ic_journey_3X:hover {

    background: url(../img/spritesheet.png) -81px -5px;
}

.container {
    width: 444px;
    height: 590px;
    background-color: #fff;
    margin: 5% auto 0 auto;
    border-radius: 10px;
    position: relative;
}

.container::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #3cb878;
}

.container .box {
    text-align: left;
    display: inline-block;
    margin: 29px 53px 32px;
}

.container .box .data a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    float: left;
}

.container .box .login a {
    float: right;
    padding-top: 5px;
    text-decoration: none;
    color: #3cb878;
}

.or {
    padding-top: 5px;
    text-align: center;

}

.text_one {
    overflow: hidden
}

.text_one::after,
.text_one::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background: rgb(230, 235, 235);
    border: solid #FFF;
    border-width: 0 1em 0;
}

.text_one:before {
    margin-left: -100%
}

.text_one:after {
    margin-right: -100%
}


.form {
    margin-bottom: 33px;
}

button[type="facebook"] {
    width: 200px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 325px;
    height: 46px;
    font-size: 14px;
    margin-bottom: 9px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding-left: 10px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
    box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.3);
    transition-duration: 1s;
}


a.fb, a.go {
    display: inline-block;
    padding: 17px 31px 17px 17px;
    background: #305DB8;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 20, .4);
    text-decoration: none;
    line-height: 1;
    border-radius: 5px;
}
a.fb {
    margin-right:5px;
}
a.fb:hover {
    background:#264b96;
}

a.go:hover {
    background: #c3412c;
}

.fa-facebook-f::after {
    content: "|";
    padding-left: 15px;
}

.fa-google-plus-g::after {
    content: "|";
    padding-left: 15px;
}

a.go {
    background: #DF4A32;
}

.fa-facebook-f {
    padding-right: 16px;
}

.fa-google-plus-g {
    padding-right: 16px;
}

.container .box .account {

    margin-top: 20px;
}

.check {
    margin-top: 13px;
}

a.button {
    display: inline-block;
    padding: 19px 118px 17px 108px;
    background: #3cb878;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    border-radius: 5px;
}
input[type="checkbox"] {
    transform:scale(1.5);
    cursor: pointer;

}



label[for="agree"] {
    padding-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.container label[for="agree"] span {
    font-size: 14px;
    color: #3cb878;
}
.checkbox{
    position: absolute;
    left: -20px;
    opacity: 0;
}

.checkbox-label{
    position: relative;
    margin-left: 25px;
}

.checkbox:checked ~ .checkbox-label::before{
    content: "\2713";
}

.checkbox-label::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -25px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    font-weight: bold;
    color:green;
    font-size: 20px;
}


