
.wrapper {
    font-family: 'Arimo', sans-serif;
    width: 1192px;
    height: 756px;
    background: #3a4965;

}

.wrapper .content {
    display: inline-block;
    background: #fff;
    margin: 22px;
    text-transform: uppercase;
}

table, th, td {
    border-collapse: collapse;
    padding-top: 29px;
    padding-bottom: 27px;
    text-align: center;
    color: #484848;
}

.bandwidth::after td {
    box-shadow: inset 2px 2px 5px;
}
.wrapper .content .tr_storage {
    background: #f2f2f2;
}
.wrapper .content .money > th {
    padding: 10px;
    box-sizing: border-box;
    width: 281px;

}

.wrapper .content table .lead > th {
    font-family: 'Arimo:700', sans-serif;

}
.dollar {
    font-size: 60px;
    position: relative;
    font-weight: 900;

}

.cent {
    font-size: 24px;
    position: relative;
    bottom: 25px;
    font-weight: 900;
}

.month {
    position: relative;
    font-size: 18px;
    right: 33px;
    font-weight: 400;
}
.wrapper .content .plan {
    font-size: 30px;
}

.wrapper .content .choose {
    font-size: 18px;
}

.wrapper .content .standard {
    background: #89c331;
    font-size: 24px;
    color: #fff;
}

.wrapper .content .ultimate {
    background: #f04a56;
    font-size: 24px;
    color: #fff;
}

.wrapper .content .premium {
    color: #fff;
    background: #20807c;
    font-size: 24px;
}

.support, .bandwidth, .users {
    background: #e3e3e3;
}

.storage, .band, .email, .sup, .products, .people::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    padding-right: 10px;
    color: #848484;
}

.storage::before {
    padding-right: 10px;
    content: "\f187";
}

.band::before {
    padding-right: 10px;
    content: "\f381";
}

.email::before {
    padding-right: 10px;
    content: "\f0e0";

}

.sup::before {
    padding-right: 10px;
    content: "\f1cd";

}

.products::before {
    padding-right: 10px;
    content: "\f49e";

}

.people::before {
    content: "\f0c0";

}


.button {
    position: relative;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 19px 58px 14px 58px;
    border-radius: 10px;

}

.contact {
    padding: 19px 44px 14px 44px;
    background: #484848;
    box-shadow: 0 5px 0 #404040;
}

.contact:hover {
    background: #595656;
    box-shadow: 0 5px 0 #474545;
}

.buy-green {
    background: #89c331;
    box-shadow: 0 5px 0 #79b027;
}

.buy-green:hover {
    background: #79a832;
    box-shadow: 0 5px 0 #5d8720;
}

.buy-red {
    background: #f04a56;
    box-shadow: 0 5px 0 #df3a46;
}

.buy-red:hover {
    background: #bc4951;
    box-shadow: 0 5px 0 #ba353f;
}

.buy-turquoise {
    background: #20807c;
    box-shadow: 0 5px 0 #16736f;
}

.buy-turquoise:hover {
    background: #1b514e;
    box-shadow: 0 5px 0 #22635f;
}

.shadow {
    position: relative;

}

.shadow::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 1px;

}

.shadow::after {
    right: 0;
    box-shadow: 1px 0 3px;
}
.outside {
    background: #dddddd ;
}