#wrapperSlider {
    width: 271px;
    height: 190px;
    border: 1px red solid;
    margin: 0 auto;
    position: relative;
    /*overflow: hidden;*/

}

.imgSlider {
    width: 271px;
    height: 190px;
    position: absolute;
    transition: all ease 1s;
    left: 0;
    top: 0;
    /*overflow: hidden;*/
}
