body{
    background: grey;
}
.container {
    margin: 0 auto;
    width: 1480px;
    font-family: Arial;


}
.box {

    margin: 45px 100px 25px 100px;

}
.color {
    color: deepskyblue;
}
.menu-main {
    list-style: none;
    margin: 0px 0px 51px;
    padding: 5px 0 2px;
    text-align: center;
    background: #35444f;
}
.menu-main li {
    display: inline-block;
    vertical-align:top;
}

.menu-main a {

    padding: 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    margin: 0 34px 0 10px;
    font-size: 22px;
    display: inline-block;

}
.box .menu-main a:hover{
    background-color: #222f3a;
}

.sidenav {
    box-sizing: border-box;
    border: 1px solid black;
    width: 344px;
    height: 399px;
    font-size: 27px;
    display: inline-block;
}

.sidenav a {
    padding-left: 42px;
    box-sizing: border-box;
    color: #4f646f;
    text-decoration: none;
}
.sidenav a:hover {
    background-color: #dbdbdb;
    padding-left: 20px;
}

.bar-item {
    padding-bottom: 22px;
    padding-top: 26px;
    display: block;

}


.logo {
    color: black;
    margin: 61px 0px 0px 100px ;
    display: inline-block;
    width: 292px;
    height: 74px;
    font-size: 80px;
    font-weight: 400
}


.block {
    margin-left: 100px;
    display: flex;


}
.img_box {
    box-sizing: border-box;
    width: 885px;
    height: 529px;
    border: 1px solid black;
    margin-left: 52px;
    padding-top: 75px;
    padding-left: 297px;
    display: inline-block;

}

img {
    overflow:hidden;
    width: 320px;
    height:381px;
}



.text p {
    width: 815px;
    font-size: 18px;
    margin-left: 526px;
}

.box_botom .menu-main {
    color: black;
    background-color: #b4b7ba;
    margin: 51px 100px 30px 100px;
    text-align: left;
}
.box_botom .left_menu .menu-main a {
    color: #142433;

}
.box_botom .left_menu .menu-main a:hover {
    color: #0483a9;
}
.box_botom .left_menu a {
    text-align: left;
    padding: 15px;
    margin: 0px auto;
}
.box_botom .left_menu .menu-main .copyright {
    font-size: 10px;
    margin-left: 170px;

}