    /*html, body {*/
/*    !*width: 100vm;*!*/
/*    !*height: 100vh;*!*/
/*    margin: 0 auto;*/

/*}*/

.wrapper {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 0 auto;

}

h2 {
    color: #18b4cf;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
}

.wrapper header .nav_bar {
    display: flex;
    width: 100%;
    height: 70px;
    background: #1d2124;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;


}

.wrapper header .nav_bar .logo_bar {
    display: flex;
    align-items: center;

}

.wrapper header .nav_bar .logo {
    width: 60px;
    padding-left: 20px;
}

.wrapper header .nav_bar .menu-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 715px;
    margin: 0;
    padding: 0;

}

.wrapper header .nav_bar .menu-main li {
    list-style-type: none
}

.wrapper header .nav_bar .menu-main li a {
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    display: inline-block;

}

.wrapper header .nav_bar .search a {
    width: 60px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1a1d20;
    text-decoration: none;
    color: #fff;

}

.wrapper header .latest_news h1 {
    font-size: 26px;
    text-align: center;
    padding-top: 127px;
    padding-bottom: 44px;
    margin: 0;
}

.button_header {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    width: 170px;
    height: 55px;
    border-radius: 5px;
    font-weight: 600;
}

.subscribe {
    margin-right: 20px;
    background: #89ca62;
}

.articles {
    background: #14b9d5;
}


section.sec1 {
    background: url(../img/html_css_homework_homework6_img_header-bg.jpeg) 100% 100% no-repeat;
    background-attachment: fixed;
    height: 400px;
    box-sizing: border-box;
}


.wrapper .content .most_popular {
    height: 1030px;
    background: #f2f2f2;
    font-weight: 700;
}

.wrapper .content .most_popular h2 {
    padding-top: 50px;
    padding-bottom: 52px;
    margin: 0;

}

.wrapper .content .most_popular .box_popular {
    box-sizing: border-box;
    width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: #000;
    justify-items: center;

}

.column {
    flex: 35%;
    max-width: 32%;
    text-align: center;
}

.wrapper .content .most_popular .box_popular .postSmall {
    box-sizing: border-box;
    height: 320px;
    background: #fff;
    margin-bottom: 30px;
}

.wrapper .content .most_popular .postBig {

    background: #fff;
    margin-bottom: 30px;
}

.wrapper .content .most_popular .box_popular .postSmallStargaze {
    box-sizing: border-box;
    height: 355px;
    background: #fff;
    margin-bottom: 30px;
}


section.sec2 {
    background: url(../img/html_css_homework_homework6_img_parallax-bg.jpeg) no-repeat center  / cover;
    background-attachment: fixed;
}

.wrapper .content section .our_most {
    width: 100%;
    height: 590px;
}

.wrapper .content .sec2 .our_most h2 {
    padding-top: 200px;
    padding-bottom: 50px;
    color: #fff;
    font-size: 32px;
    margin: 0;

}

.wrapper .content .sec2 .our_most .line {
    margin: 0 auto;
    box-sizing: border-box;
    width: 65px;
    border-bottom: 2px solid #169cb4;
}

.wrapper .content .sec2 .our_most .client {
    padding-top: 60px;
    box-sizing: border-box;
    width: 885px;
    height: 100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.wrapper .content .sec2 .our_most .client .layer {
    text-align: center;
    align-self: center;

}

.wrapper .content .top_rate {
    height: 380px;

}

.wrapper .content .top_rate h2 {
    padding-top: 52px;
    margin-bottom: 50px;

}

.wrapper .content .top_rate .rate_img {
    width: 100vm;
    display: grid;
    grid-template-columns: repeat(7, 14.29%);
}

.wrapper .content .hot_news h2 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.wrapper .content .hot_news {
    height: 1620px;
    color: #000;
    margin: 0 auto;
}

.wrapper .content .hot_news .container_news {
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
}

h3 {
    padding-right: 25px;
    font-size: 18px;
    text-align: right;
    color: rgba(53, 58, 61, 255);
}

.part {
    padding-right: 25px;
    padding-left: 20px;
    font-size: 14px;
    text-align: right;
    color: rgba(91, 100, 105, 255);
}

.box_three h3, .box_eight h3 {
    text-align: center;
    padding: 0;
}

.wrapper .content .hot_news .container_news .box_first {
    display: grid;
    grid-template-columns: 41.4% 35% 23.5%;
}

.wrapper .content .hot_news .container_news .box_first .box_two {
    background: #f9f7f7;
    box-sizing: border-box;
    width: 380px;
    height: 260px;
    padding-top: 20px;
    font-size: 14px;
}

.box_three {
    background: #f9f7f7;
    box-sizing: border-box;
    height: 260px;
}

.wrapper .content .hot_news .container_news .box_second {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 60px;
    margin-top: 40px;
}

.box_four, .box_fife {
    background: #f9f7f7;
}

.wrapper .content .hot_news .container_news .box_third {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 60px;
    margin-top: 40px;
}

.box_six, .box_seven {
    background: #f9f7f7;
}

.wrapper .content .hot_news .container_news .box_fours {
    display: grid;
    grid-gap: 35px;
    margin-top: 40px;
    grid-template-columns: 23.5% 38.2% 32.3%;
}

.wrapper .content .hot_news .container_news .box_fours .box_eight {
    background: #f9f7f7;
    box-sizing: border-box;
    height: 260px;
}

.box_ten {
    background: #f9f7f7;
    box-sizing: border-box;
    padding-top: 20px;
    height: 260px;
}


.wrapper footer {
    height: 80px;
    background: #1d2124;
}

.wrapper footer .reserved {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;

}

.wrapper footer .reserved .vector {
    display: flex;
}

.wrapper footer .reserved .logFooter {
    align-self: flex-start;
}