html{
    color:yellow;
    background: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body{

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transform-origin:50% 100%;
    transform:perspective(300px) rotateX(20deg);
}

.star{
    position:absolute;
    top:-2300px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    font-size:50px;
    text-align:center;
    font-family:sans-serif;
}
.star > div{
    padding-top:3500px;
    animation: autoscroll 30s linear;
    animation-iteration-count: infinite;
    transition-timing-function: ease;

}




@keyframes autoscroll{
    to{
        margin-top:-4500px;

    }
}